# Create copy and rename from .env.local to .env

# Your AI Devs API_KEY from https://poligon.aidevs.pl/ or https://poligon.aidevs.pl/api
AIDEVS_API_KEY=

# Your OPENAI_API_KEY from https://platform.openai.com/settings/, project menu "API keys"
OPENAI_API_KEY=

# Django Secret Key
DJANGO_SECRET_KEY=

# Langfuse related keys
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST="https://cloud.langfuse.com" # EU Region

# DB / Postgres related keys
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

# OLLAMA related keys
OLLAMA_PORT=11434